.form-inputs{
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
}

#name, #mobile, #email, #message{
    width: 100%;
    padding-bottom: 0%;
    border: 1px solid white;
}

.form-label{
    padding-left: 10px;
    margin-bottom: 0%;
    color: white;
}



.form-input-btn{
    background-color: white;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    color: #7498ca;
    border-radius: 25px;
    padding-top: 10px;
}

.Full-Form-Box{
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    border: 3px solid  rgb(5, 5, 28);
    align-items: center;
    display: flex;
    
}

.Formhead{
    color: white;
    font-size: 1.8rem;
    padding-bottom: 10px;
}


.form-content-right{
    box-sizing: border-box;
    background-color: rgb(5, 5, 28);
    color: white;
    width: 100%;
    padding: 5%;
}

